<div class="toast-stack position-fixed top-0 end-0 p-3">
  @for (toast of toastService.toasts(); track toast.id) {
    <div class="toast show shadow-sm border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header text-bg-{{toast.type}}">
        <strong class="me-auto">{{toast.title}}</strong>
        <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="remove(toast.id)"></button>
      </div>
      <div class="toast-body bg-white">
        {{toast.message}}
      </div>
    </div>
  }
</div>
